@model LearnEnglish.Models.Instruction

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-info">@Model.Title </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-6">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">@Model.Title</h3>

                    </div>
                    <div class="card-body">
                        <!-- acilir file upload penceresi butonu -->
                        <button type="button" class="btn btn-outline-info btn-block btn-flat" data-toggle="modal" data-target="#modal-sm"><i class="fa fa-music"></i> Add Sound</button>

                        <!-- acilir summurnote penceresi butonu -->
                        <button type="button" class="btn btn-outline-info btn-block btn-flat" data-toggle="modal" data-target="#modal-lg"><i class="fa fa-book"></i> Add Rich Text </button>

                        <div class="modal fade" id="modal-sm" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <form method="post" enctype="multipart/form-data" id="sound_update">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Small Modal</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="file" name="file" />
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-warning">Upload File</button>
                                            @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <form asp-antiforgery="true" id="instruction_detail">
                                        <input type="hidden" id="instruction_id" value="@Model.InstructionId" />
                                        <div class="modal-header">
                                            <h4 class="modal-title">Large Modal</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea id="summernote"> Place &lt;em&gt;some&lt;/em&gt; &lt;u&gt;text&lt;/u&gt; &lt;strong&gt;here&lt;/strong&gt;</textarea>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>

                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-6">
                <div class="card card-primary">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">
                                Subject Content
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row (main row) -->
        <div class="row">
            <div class="col-12">
                <div class="card" id="content_card">
                    <div class="card-header">
                        <h3 class="card-title">Responsive Hover Table</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap" id="content_list">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Info</th>
                                    <th>Rank</th>
                                    <th>Created Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
@section PageStyles{
    <link href="~/adminlte/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/adminlte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.css" rel="stylesheet" />
    <link href="~/adminlte/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
}
@section PageScripts{
    <script src="~/js/pages/instruction.js" asp-append-version="true"></script>    
    <script src="~/adminlte/plugins/sweetalert2/sweetalert2.js"></script>
    <script src="~/adminlte/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/adminlte/plugins/summernote/summernote-bs4.js"></script>
    <script>
        $('#content_card').hide();
    </script>
}